{% include "base.html.twig" %}
{% block navbar %}
	{{ knp_menu_render('main',{'template':'extended_knp_menu.html.twig'}) }}
{% endblock %}
{% block body %}
	Добро пожаловать в систему прослеживаемости!
</h1>{% endblock %}
