<ul>
    <li><a href="index.php">На главную</a></li>
    <li><a href="batch_detail.php">Варки</a></li>
    <li><a href="lot_detail.php">Квазипартии</a></li>
    <li><a href="product_detail.php">Сырье</a></li>
    <li><a href="check_detail.php">Настройки (Не нажимать)</a></li>
    <li><a href="check_sum_detail.php">Настройки (Не нажимать) - 2</a></li>
</ul>